<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="SedapMakanDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Initial Catalog=Database;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="Assignment.Properties.Settings.SedapMakan_DatabaseConnectionString"
   connectionString="Data Source=LAPTOP-87MTL4FI\SQLEXPRESS;Initial Catalog=&quot;SedapMakan Database&quot;;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Assignment.Properties.Settings.IOOP_AssignmentConnectionString"
   connectionString="Data Source=LAPTOP-87MTL4FI\SQLEXPRESS;Initial Catalog=IOOP_Assignment;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
